@page "/agents-list"
@attribute [Authorize]
@inject HttpClient Http
@inject TokenAuthenticationStateProvider TokenProvider

<h1 class="@MdcTypography.H4">Agents</h1>

@if (agents == null)
{
    <MdcLinearProgress />
}
else
{
    <table class="mdc-card">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mission</th>
                <th>Coordinates</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agent in agents)
            {
                <tr>
                    <td><strong>@agent.Name</strong></td>
                    <td>@agent.Mission</td>
                    <td>
                        @agent.Longitude.ToString("N4"),
                        @agent.Latitude.ToString("N4")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Agent[] agents;

    protected override async Task OnInitAsync()
    {
        var token = await TokenProvider.GetTokenAsync();
        agents = await Http.GetJsonAsync<Agent[]>(
            "api/agents",
            new AuthenticationHeaderValue("Bearer", token));
    }
}
