@page "/agents"
@inject HttpClient Http

<h1 class="@MdcTypography.H4">Agents</h1>

@if (agents == null)
{
    <p>Loading...</p>
}
else
{
    <table class="mdc-card">
        <tr>
            <th>Name</th>
            <th>Mission</th>
            <th>Coordinates</th>
        </tr>
        @foreach (var agent in agents)
        {
            <tr>
                <td><strong>@agent.Name</strong></td>
                <td>@agent.Mission</td>
                <td>@agent.Longitude.ToString("N4"), @agent.Latitude.ToString("N4")</td>
            </tr>
        }
    </table>
}

@functions {
    Agent[] agents;

    protected override async Task OnInitAsync()
    {
        agents = await Http.GetJsonAsync<Agent[]>("api/agents");
    }
}
