@page "/agents"
@using PinMapLibrary
@attribute [Authorize]
@inject HttpClient Http
@inject TokenAuthenticationStateProvider TokenProvider

@if (agents != null)
{
    <PinMap Data="@agents" PinLongitude="@(x => x.Longitude)" PinLatitude="@(x => x.Latitude)">
        <PinTemplate>
            <h4>@context.Name</h4>
            <p><strong>Mission:</strong> @context.Mission</p>
        </PinTemplate>
    </PinMap>
}

@code {
    Agent[] agents;

    protected override async Task OnInitializedAsync()
    {
        var token = await TokenProvider.GetTokenAsync();
        agents = await Http.GetJsonAsync<Agent[]>(
            "api/agents",
            new AuthenticationHeaderValue("Bearer", token));
    }
}
